.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

body{
  padding:0;
  margin: 0;
} 

.container {
  width: 100%;
  padding: 1rem;
}

.GridContainer {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: 
  "UpLessons Tasks Leaderboard"
  "MyCourses MyCourses HwProgress"
  "Graph ... HwProgress"
}







